<template>
  <div>
    <vue-picture-swipe :items="images"></vue-picture-swipe>
  </div>
</template>

<script>
import Vue from "vue";
const firebase = require("firebase/app");
require("firebase/database");
import { rtdbPlugin } from "vuefire";
import VuePictureSwipe from 'vue-picture-swipe';

Vue.use(rtdbPlugin);

Vue.component('vue-picture-swipe', VuePictureSwipe);

const db = firebase
  .initializeApp({
    databaseURL: process.env.VUE_APP_DATABASE_URL
  })
  .database();

export default {

  data() {
    return {
      cloudinary: [],
    }
  },

  firebase: {
    cloudinary: db.ref("/cloudinary")
  },

  computed: {
    images () {
      return this.cloudinary.map(e => {
        const url = e.url;
        const thumUrl = url.replace(/\/v(\d*)\//g, '/c_pad,b_white,h_128,w_128/');
        return {
          src: url,
          thumbnail: thumUrl,
          w: e.width,
          h: e.height
        };
      })
    }
  }
};
</script>

<style>
</style>