<template>
  <b-table :data="lists" :columns="columns"></b-table>
</template>

<script>
import Vue from 'vue'
import Axios from 'axios'
import Buefy from 'buefy'
import 'buefy/dist/buefy.css'

Vue.use(Buefy)

export default {
  data () {
    return {
      columns: [
        { field: 'index', label: '投稿' },
        { field: 'profile.displayName', label: '名前' },
        { field: 'image', label: '画像' },
        { field: 'time', label: '時間' },
      ],
      lists: []
    }
  },
  async created () {
    const res = await Axios.get(process.env.VUE_APP_LIST_URL);
    const data = res.data.map((row, index) => Object.assign({
      'index': index + 1,
      'time': new Date(row.timestamp).toString()
    }, row));
    this.lists = data;
  }
}
</script>