<template>
  <b-table :data="ranks" :columns="columns"></b-table>
</template>

<script>
import Vue from 'vue';
import Axios from 'axios';
import Table from 'buefy';
import 'buefy/dist/buefy.css'

Vue.use(Table)

export default {
  data () {
    return {
      columns: [
        { field: 'rank', label: 'ランキング' },
        { field: 'profile.displayName', label: '名前' },
        { field: 'count', label: '投稿数' }
      ],
      ranks: []
    }
  },
  async created () {
    const res = await Axios.get(process.env.VUE_APP_RANK_URL);
    this.ranks = res.data;
  }
}
</script>
