<template>
  <div>
    <v-stage ref="stage" :config="stageSize">
      <v-layer ref="layer">
        <v-image
          ref="images"
          v-for="(image, index) in images"
          :key="index"
          :config="{
          image: image,
          draggable: true
        }"
        ></v-image>
      </v-layer>
    </v-stage>
    <img v-bind:src="animationImage" id="animation-image" style="opacity: 0;" @load="animation"/>
  </div>
</template>

<script>
import Vue from "vue";
const firebase = require("firebase/app");
require("firebase/database");
import { rtdbPlugin } from "vuefire";
import VueKonva from "vue-konva";

Vue.use(rtdbPlugin);
Vue.use(VueKonva);

const width = window.innerWidth;
const height = window.innerHeight;

const speed = 0.5;

const db = firebase.database();

export default {
  data() {
    return {
      stageSize: {
        width: width,
        height: height
      },
      urlSet: new Set(),
      images: [],
      animationImage: null,
      cloudinary: [],
      isInit: false,
      isAnimation: false,
    };
  },

  firebase: {
    cloudinary: db.ref("/cloudinary").orderByChild("created_at")
  },

  mounted() {
    window.requestAnimationFrame(this.update);
  },

  methods: {
    update() {
      if (this.$refs.images) {
        const images = this.$refs.images.map(i => i.getStage());
        images.forEach(image => {
          let x = image.getX();
          let y = image.getY();
          if (x === 0 && y === 0) {
            x = Math.random() * this.stageSize.width;
            image.setX(x);
            y = Math.random() * this.stageSize.height;
            image.setY(y);
          }
          if (y > this.stageSize.height) {
            x = Math.random() * this.stageSize.width;
            image.setX(x);
            y = -100;
          }
          image.setY(y + speed);
        });
      }
      this.$refs.layer.getStage().draw();
      window.requestAnimationFrame(this.update);
    },
    animation() {
      if (!this.isAnimation) {
        this.isLoading = true;
        var animationImg = document.getElementById("animation-image");
        animationImg.classList.add("rotate-animation");
        setTimeout(() => {
          this.isAnimation = false;
          animationImg.classList.remove("rotate-animation");
        }, 5000);
      }
    }
  },

  watch: {
    cloudinary(val) {
      const addImage = val.filter(v => !this.urlSet.has(v.url));
      if (addImage.length === 0) return;
      if (this.isInit) {
        this.animationImage = addImage[0].url;
      } else {
        this.isInit = true;
      }
      addImage.map(e => {
        const url = e.url;
        this.urlSet.add(url);
        const thumUrl = url.replace(
          /\/v(\d*)\//g,
          "/c_pad,b_white,h_128,w_128/"
        );
        const image = new window.Image();
        image.src = thumUrl;
        image.onload = () => {
          this.images.push(image);
        };
      });
    }
  }
};
</script>

<style scoped>
.rotate-animation {
  animation: rotate-animation 5s ease-in;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@keyframes rotate-animation {
  0% {
    transform: scale(1, 1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.5, 0.5) rotate(360deg);
    opacity: 0;
  }
}
</style>
